fsk-online-schemas/src/main/resources/wsdl/behandlingstestamente_service_2020_03_16.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:btr20200316="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16/"
                  xmlns:tns="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16/"
                  targetNamespace="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16/">

    <wsdl:types>
        <xs:schema targetNamespace="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16/">
            <xs:include schemaLocation="../schema/2020_03_16/behandlingstestamenteregister.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="CreateTreatmentWillRequest_2020_03_16">
        <wsdl:part element="btr20200316:CreateTreatmentWillRequest" name="CreateTreatmentWillRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateTreatmentWillResponse_2020_03_16">
        <wsdl:part element="btr20200316:CreateTreatmentWillResponse" name="CreateTreatmentWillResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateTreatmentWillRequest_2020_03_16">
        <wsdl:part element="btr20200316:UpdateTreatmentWillRequest" name="UpdateTreatmentWillRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateTreatmentWillResponse_2020_03_16">
        <wsdl:part element="btr20200316:UpdateTreatmentWillResponse" name="UpdateTreatmentWillResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteTreatmentWillRequest_2020_03_16">
        <wsdl:part element="btr20200316:DeleteTreatmentWillRequest" name="DeleteTreatmentWillRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteTreatmentWillResponse_2020_03_16">
        <wsdl:part element="btr20200316:DeleteTreatmentWillResponse" name="DeleteTreatmentWillResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTreatmentWillRequest_2020_03_16">
        <wsdl:part element="btr20200316:GetTreatmentWillRequest" name="GetTreatmentWillRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTreatmentWillResponse_2020_03_16">
        <wsdl:part element="btr20200316:GetTreatmentWillResponse" name="GetTreatmentWillResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTreatmentWillWithOnlyForcedTreatmentRequest_2020_03_16">
        <wsdl:part element="btr20200316:GetTreatmentWillWithOnlyForcedTreatmentRequest" name="GetTreatmentWillWithOnlyForcedTreatmentRequest"/>
    </wsdl:message>
    <wsdl:message name="GetTreatmentWillWithOnlyForcedTreatmentResponse_2020_03_16">
        <wsdl:part element="btr20200316:GetTreatmentWillWithOnlyForcedTreatmentResponse" name="GetTreatmentWillWithOnlyForcedTreatmentResponse"/>
    </wsdl:message>
    <wsdl:message name="HasTreatmentWillRequest_2020_03_16">
        <wsdl:part element="btr20200316:HasTreatmentWillRequest" name="HasTreatmentWillRequest"/>
    </wsdl:message>
    <wsdl:message name="HasTreatmentWillResponse_2020_03_16">
        <wsdl:part element="btr20200316:HasTreatmentWillResponse" name="HasTreatmentWillResponse"/>
    </wsdl:message>

    <wsdl:portType name="TreatmentWillPortType">
        <wsdl:operation name="CreateTreatmentWill_2020_03_16">
            <wsdl:input message="tns:CreateTreatmentWillRequest_2020_03_16" name="CreateTreatmentWillRequest_2020_03_16"/>
            <wsdl:output message="tns:CreateTreatmentWillResponse_2020_03_16" name="CreateTreatmentWillResponse_2020_03_16"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateTreatmentWill_2020_03_16">
            <wsdl:input message="tns:UpdateTreatmentWillRequest_2020_03_16" name="UpdateTreatmentWillRequest_2020_03_16"/>
            <wsdl:output message="tns:UpdateTreatmentWillResponse_2020_03_16" name="UpdateTreatmentWillResponse_2020_03_16"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteTreatmentWill_2020_03_16">
            <wsdl:input message="tns:DeleteTreatmentWillRequest_2020_03_16" name="DeleteTreatmentWillRequest_2020_03_16"/>
            <wsdl:output message="tns:DeleteTreatmentWillResponse_2020_03_16" name="DeleteTreatmentWillResponse_2020_03_16"/>
        </wsdl:operation>
        <wsdl:operation name="GetTreatmentWill_2020_03_16">
            <wsdl:input message="tns:GetTreatmentWillRequest_2020_03_16" name="GetTreatmentWillRequest_2020_03_16"/>
            <wsdl:output message="tns:GetTreatmentWillResponse_2020_03_16" name="GetTreatmentWillResponse_2020_03_16"/>
        </wsdl:operation>
        <wsdl:operation name="GetTreatmentWillWithOnlyForcedTreatment_2020_03_16">
            <wsdl:input message="tns:GetTreatmentWillWithOnlyForcedTreatmentRequest_2020_03_16" name="GetTreatmentWillWithOnlyForcedTreatmentRequest_2020_03_16"/>
            <wsdl:output message="tns:GetTreatmentWillWithOnlyForcedTreatmentResponse_2020_03_16" name="GetTreatmentWillWithOnlyForcedTreatmentResponse_2020_03_16"/>
        </wsdl:operation>
        <wsdl:operation name="HasTreatmentWill_2020_03_16">
            <wsdl:input message="tns:HasTreatmentWillRequest_2020_03_16" name="HasTreatmentWillRequest_2020_03_16"/>
            <wsdl:output message="tns:HasTreatmentWillResponse_2020_03_16" name="HasTreatmentWillResponse_2020_03_16"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="TreatmentWillBinding" type="tns:TreatmentWillPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CreateTreatmentWill_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#CreateTreatmentWill"/>
            <wsdl:input name="CreateTreatmentWillRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateTreatmentWillResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateTreatmentWill_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#UpdateTreatmentWill"/>
            <wsdl:input name="UpdateTreatmentWillRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateTreatmentWillResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteTreatmentWill_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#DeleteTreatmentWill"/>
            <wsdl:input name="DeleteTreatmentWillRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteTreatmentWillResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetTreatmentWill_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#GetTreatmentWill"/>
            <wsdl:input name="GetTreatmentWillRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetTreatmentWillResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetTreatmentWillWithOnlyForcedTreatment_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#GetTreatmentWillWithOnlyForcedTreatment"/>
            <wsdl:input name="GetTreatmentWillWithOnlyForcedTreatmentRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetTreatmentWillWithOnlyForcedTreatmentResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="HasTreatmentWill_2020_03_16">
            <soap:operation soapAction="http://sundhedsdatastyrelsen.dk/behandlingstestamente/2020/03/16#HasTreatmentWill"/>
            <wsdl:input name="HasTreatmentWillRequest_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="HasTreatmentWillResponse_2020_03_16">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="TreatmentWillService">
        <wsdl:port name="TreatmentWillPort" binding="tns:TreatmentWillBinding">
            <soap:address location="http://localhost:8080/btr-service/btr"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
